body {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: ". main .";

  background-color: #c4e6a1;
  color: #1f163c;
  font-family: Optima;
}


.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5em 0;
  min-width: 15em;
}

.sidebar {
  overflow-y: hidden;
}

.sidebar:nth-child(2n) > img:nth-child(2n), .sidebar:nth-child(2n+1) > img:nth-child(2n+1) {
  transform: rotate(20deg);
}

.sidebar:nth-child(2n+1) > img:nth-child(2n), .sidebar:nth-child(2n) > img:nth-child(2n+1) {
  transform: rotate(-20deg);
}

@media only screen and (max-width: 60em) {
  .sidebar {
    display: none;
  }
}

.sidebar > img {
  margin: 1em 0;
  width: 80%;
  max-width: 40em;
}

.title {
  margin-top: 3em;
}

.rsvp-link {
  display: block;
  background-color: #35820b;
  color: #fff;
  border-radius: 0.5em;
  text-decoration: none;
  text-align: center;

  font-size:  2em;
  width: 50%;
  margin: 0 auto;
  padding: 0.25em;

  margin-bottom: 3em;
}

main {
  max-width: 40em;
  grid-area: main;
  padding: 0.95em 0.25em;
  position: relative;
  justify-self: safe start;
}

nav {
  margin: 1em 1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav > a {
  display: block;
  padding: 0.5em;

  min-width: 5em;
  margin: 0.5em 0.25em;

  display: block;
  background-color: #35820b;
  color: #fff;
  border-radius: 0.5em;
  text-decoration: none;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  nav {
    margin-left: 0;
    margin-right: 0;
  }
}

a {
  color: inherit;
}

h1, h2 {
  text-align: center;
}

section {
  border-top: 1px solid;
  margin: 1em 0;
  text-align: center;
}

.address {
  margin: 1em 0;
}

.question {
  font-weight: bold;
  margin-top: 1em;
}

.story-view {
  display: grid;
  grid-template-columns: [story] max-content [action] minmax(10em, 2fr);
  grid-row-gap: 0.5em;
  grid-column-gap: 1em;
  position: relative;
}

.story-view:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(0.25em - 1px);
  border-left:  solid 3px;
}

.story-view > .story-point {
  grid-column: story;
  text-align: right;
  position: relative;
  padding-left: 1em;
}

.story-view > .action  {
  grid-column: action;
  text-align: left;
}

.story-point:after {
  content: "â—";
  position: absolute;
  left: 0em;
}

#story > h2 {
  grid-column: 1 / -1;
}
